[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=django
Group=www-data
WorkingDirectory=/py/python_django_group_diploma

ExecStart=/py/venv/bin/gunicorn \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          market_place_proj.wsgi:application