{% extends 'base.html' %}
{% load i18n view_breadcrumbs %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
    <div class="Middle Middle_top">
        {{ block.super }}

        <div class="Section">
            <div class="wrap">
                <form class="form AuthForm" method="post">
                    <div class="AuthForm-card">
                        {% csrf_token %}

                        <p>{% trans 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>

                        {% for field in form %}
                            <div class="form-group">
                                <div class="row-block">
                                    <label class="form-label" for="{{ field.auto_id }}">
                                        {{ field.label }}
                                    </label>

                                    <input id="{{ field.id_for_label }}"
                                           class="form-input"
                                           {% if field.field.max_length %}maxlength="{{ field.field.max_length }}"{% endif %}
                                           name="{{ field.html_name }}"
                                           type="{{ field.field.widget.input_type }}"
                                           {% if field.value %} value="{{ field.value }}" {% endif %}
                                    />

                                    {% for error in field.errors %}
                                        <div class="form-error">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <button class="btn btn_primary form-btn"type="submit">
                                {% trans 'Change my password' %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
