{% extends 'base.html' %}
{% load i18n view_breadcrumbs %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
    <div class="Middle Middle_top">
        {{ block.super }}

        <div class="Section">
            <div class="wrap">
                <div class="AuthPage">
                    <div class="AuthPage-title">
                        {% trans 'Your password was changed.' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}