{% load static i18n %}

<div class="Tabs-block" id="reviews">
    {% if good.review.all %}
    <header class="Section-header">
        <h3 class="Section-title">{{ good.review.count }} {% trans 'Reviews' %}
        </h3>
    </header>
    {% endif %}
    <div class="Comments">
        {% for comment in good.review.all %}
            <div class="Comment">
                <div class="Comment-column Comment-column_pict">
                    <div class="Comment-avatar"></div>
                </div>
                <div class="Comment-column">
                    <header class="Comment-header">


                        <div>
                            <strong class="Comment-title">{{ comment.user.get_full_name }}
                            </strong><span
                                class="Comment-date">{{ comment.created_at|date:"F d / o / h:m" }}</span>
                        </div>
                    </header>
                    <div class="Comment-content">{{ comment.text }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

    <header class="Section-header Section-header_product">
        <h3 class="Section-title"> {% trans 'Add Review' %}
        </h3>
    </header>
    {% if request.user.is_authenticated %}
        <div class="Tabs-addComment">
            <form class="form" action="#" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="review"></label>
                    <textarea class="form-textarea" name="review" id="review" placeholder="Review"></textarea>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="row-block">
                            <div class="form-input">{{ request.user.get_full_name }}</div>
                        </div>
                        <div class="row-block">
                            <div class="form-input">{{ request.user.email }}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn_muted" type="submit">{% trans 'Submit Review' %}</button>
                </div>
            </form>
        </div>
    {% else %}
        <a href="{% url 'login' %}">{% trans 'To add a comment, you must log in' %}</a>
    {% endif %}

</div>