{% load i18n static %}
<div class="Section-columnSection Section-columnSection_mark">
    <div class="media media_middle">
        <div class="media-image"><img src="{% static 'assets/img/icons/contacts/phone.svg' %}"
                                      alt="phone.svg"/>
        </div>
        <div class="media-content">{% trans 'Phone' %}:&#32;
            <nobr>+8 (200) 800-2000-600</nobr>
            <br>{% trans 'Mobile' %}:&#32;
            <nobr>+8 (200) 800-2000-650</nobr>
        </div>
    </div>
</div>
<div class="Section-columnSection Section-columnSection_mark">
    <div class="media media_middle">
        <div class="media-image"><img src="{% static 'assets/img/icons/contacts/address.svg' %}"
                                      alt="address.svg"/>
        </div>
        <div class="media-content">
            {% trans 'Megano Business Center, 0012 United States, Los Angeles Creative Street 15/4' %}
        </div>
    </div>
</div>
<div class="Section-columnSection Section-columnSection_mark">
    <div class="media media_middle">
        <div class="media-image"><img src="{% static 'assets/img/icons/contacts/mail.svg' %}"
                                      alt="mail.svg"/>
        </div>
        <div class="media-content">{% trans 'General' %}: hello@ninzio.com<br>{% trans 'Editor' %}: editor@ninzio.com
        </div>
    </div>
</div>